.card-item {
    width: 320px;
    height: 130px;
    flex-direction: column;
    border-radius: 30px;
    border: 3px solid #999999;
}
.card-line {
    width: 225px;
    height: 45px;
    margin: 0 0 0 30px;
    align-items: center;
}
.card__image {
    width: 25px;
    height: 25px;
}
.card__text {
    &_type_position {
        margin: 0 0 0 15px;
        min-width: 190px;
        text-wrap: wrap;
        text-align: left;

        font-size: 18px;
        font-weight: 700;
        line-height: 21.78px;
    }
    &_type_salary {
        margin: 0 0 0 15px;
        min-width: 190px;

        text-align: left;
        color: #21A038;
        text-wrap: wrap;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.78px;
    }
}
.card__button {
    position: absolute;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-width: 0;
    background-color: #212121;
    :active {
        opacity: 50%;
    }
    .card__image{
        background:url(./3.svg) no-repeat;
        background-size: 100%;
    }
}
