.button {
    height: 60px;
    width: fit-content;
    border-radius: 30px;
    border-width: 0;
    padding: 0 30px 0 30px;

    font-family: Ghotam Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;

    color: #FFFFFF;
    // background-color: #DD3037;
    background-color: rgba(221,48,55, 1); // = #DD3037
}
    .button:active {
        opacity: 60%;
    }
    .button:hover {
        background-color: rgba(221,48,55, 0.9);
    }
